#contact {
    background-image: url('..\\img\\bg6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    text-align: center;
  }
  
  #contact h2{
      font-size: 35px;
      color: white;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 85px;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #contact a img{
      width: 55px;
      height: 55px;
  }
  
  div h1{
      color: white;
      font-size: 28px;
  }

  div p{
    color: white;
    font-size: 20px;
}
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    height: 472px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border: 3px solid white;
    border-radius: 1em;
    background-color: transparent;
  }
  
  .card img{
    margin-top: 15px;
    width: 260px;
    border-radius: 50%;
    border: 4px solid white;
  }
  
  .card img:hover{
    width: 260px;
    transition: 0.5s;
}

  footer {
    background-color: black;
    color: white;
    padding: 0px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }